* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    background-color: #fff;
    color:#555;
    font-family: 'Lato', 'Arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
ul {
    padding-left: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
 }

 .content {
    width: 800px;
    margin: 0 auto;
 }