* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #fff;
    color:#555;
    font-family: 'Lato', 'Arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    position: fixed;

}
.row {
    max-width: 1140px;
    margin: 0 auto;
}


header {
    background-image: url("imgOlga.jpg");
    background-size: cover;
    background-position: top;
    width: 1140px;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;

    }

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 20%;
    left: 54%;
    text-decoration: none;
    transform: translate(-10%, -10%);

}

h1 {
    color: #4d4d4d;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 100%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    padding-top: 7%;

}

h2 {
    color: #4d4d4d;
    margin: -30px 0 0 0;
    font-size: 100%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;

}

.btn {
    margin-top: 50px;
    display: inline-block;
    padding: 10px 35px;
    font-weight: 200;
    text-decoration: none;
    border-radius: 0px;
    color: #fff;
    background-color: #fe504f;
    border: 1px solid #fe504f;
    text-transform: uppercase;

}

section {
    width: 800px;
    height: 140px;
    float: right;
    margin-top: 50px;
    display: inline-block;
    padding: 10px 35px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 0px;
    color: #fff;
    background-color: #fe504f;
    border: 1px solid #fe504f;
    text-transform: uppercase;

}

.profile {
    position: absolute;
    width: 550px;
    top: 23%;
    left: 49%;
    transform: translate(-10%, -10%);
    text-align: justify;
    margin: 0 auto;
    padding-top: 11%;
    font-size: 80%;

}

h3 {
    color: #fe504f;

}

.row  {
    text-align: left;
    display:inline-flexbox;
    position: absolute;
    padding: 25px;
    margin: auto;
    width: 610px;
    top: 60%;
    left: 48%;
    transform: translate(-10%, -10%);
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 70%;

}

footer {
    background-color: #333;
    padding: 10px;
    font-size: 80%;
    width: 1140px;
    height: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;

}

.social {
    width: 90px;
    display: inline-block;
    padding: 10px;


}

